@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #ffff;
}

/*h1,*/
/*h2,*/
/*h3,*/
/*p {*/
/*  color: #042b5f;*/
/*}*/

/*.centered {*/
/*  margin: 3rem auto;*/
/*  text-align: center;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: #40509d;
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid #285e16;
  cursor: pointer;
  width: 7rem;
}

.btn:hover,
.btn:active {
  background-color: #285e16;
  border-color: #c8f1c8;
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.btn.done {
  background-color: #285e16;
  color: white;
  border-color:#c8f1c8;
  width: 7rem;
}

.btn.danger {
  background-color: #a10a1b;
  color: white;
  border-color:#c8f1c8;
  width: 7rem;
}
