.header {
    width: 90%;
    max-width: 70rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #5f92d3;
    position: fixed;
    top: 6rem;
    z-index: 1;
}